        <div class="title-bar">ATRIBUTOS SOCIAIS</div>
        <div id="socialGrid" class="grid-social">
            <div class="box-social">
                <span id="t-Charme" class="tier-badge">TIER 0</span><label for="pts-Charme">Charme</label>
                <div id="tit-Charme" class="title-display">Sem graça</div>
                <input type="number" id="pts-Charme" class="social-points" value="0" data-attribute="Charme">
            </div>
            <div class="box-social">
                <span id="t-Conhecimento" class="tier-badge">TIER 0</span><label for="pts-Conhecimento">Conhecimento</label>
                <div id="tit-Conhecimento" class="title-display">Preguiçoso</div>
                <input type="number" id="pts-Conhecimento" class="social-points" value="0" data-attribute="Conhecimento">
            </div>
            <div class="box-social">
                <span id="t-Coragem" class="tier-badge">TIER 0</span><label for="pts-Coragem">Coragem</label>
                <div id="tit-Coragem" class="title-display">Covarde</div>
                <input type="number" id="pts-Coragem" class="social-points" value="0" data-attribute="Coragem">
            </div>
            <div class="box-social">
                <span id="t-Disciplina" class="tier-badge">TIER 0</span><label for="pts-Disciplina">Disciplina</label>
                <div id="tit-Disciplina" class="title-display">Desatento</div>
                <input type="number" id="pts-Disciplina" class="social-points" value="0" data-attribute="Disciplina">
            </div>
            <div class="box-social">
                <span id="t-Empatia" class="tier-badge">TIER 0</span><label for="pts-Empatia">Empatia</label>
                <div id="tit-Empatia" class="title-display">Indiferente</div>
                <input type="number" id="pts-Empatia" class="social-points" value="0" data-attribute="Empatia">
            </div>
            <div class="box-social">
                <span id="t-Expressão" class="tier-badge">TIER 0</span><label for="pts-Expressão">Expressão</label>
                <div id="tit-Expressão" class="title-display">Monótona</div>
                <input type="number" id="pts-Expressão" class="social-points" value="0" data-attribute="Expressão">
            </div>
        </div>
