    <div id="modalOverlay" hidden inert aria-hidden="true">
        <div class="modal-box" role="dialog" aria-modal="true" aria-labelledby="modalTitle"
            aria-describedby="modalError">
            <h2 id="modalTitle">Nova Habilidade</h2>
            <div id="modalFields" class="modal-fields"></div>
            <p id="modalError" class="form-error" role="alert" aria-live="assertive" hidden></p>
            <div class="modal-btns">
                <button type="button" class="btn-cancel" id="modalCancelBtn">Cancelar</button>
                <button type="button" class="btn-save" id="saveModalBtn">Confirmar</button>
            </div>
        </div>
    </div>
